<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Game Handling -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Styling -->
    <link rel="stylesheet" href="p/<%=style%>">

    <!-- Page Title -->
    <title>um. - <%=game%> | <%=name%></title>
    
</head>

<body onload="joinGame()">
    
    <div class="header">
        <h1><a href="/">um.</a></h1>
        <h1 class="pageName"><%=game%></h1>
    </div>

    <spacer></spacer>

    <script>
    
        var socket = io("/<%=code%>");
        const token = "<%=token%>";

        function joinGame() {
            socket.emit('join', {auth: token});
        }

    </script>

</body>
</html>